    :root {
        --basic-black: #000000;
        --basic-black-range: rgba(0, 0, 0, 0.15);
        --basic-extra-black: #283136;
        --basic-red: #FB565A;
        --basic-red-extra: #E74246;
        --basic-red-dark: #D7373B;
        --basic-green: #00CA74;
        --basic-green-extra: #00BC6C;
        --basic-green-dark: #00AA62;
        --basic-yellow: #EFC849;
        --basic-yellow-extra: #EAB534;
        --basic-yellow-dark: #E5A722;
        --basic-grey: #E1E1E1;
        --basic-grey-extra: #EEEEEE;
        --basic-grey-light: #A6A6A6;
        --basic-grey-form: #D7DCDF;
        --basic-grey-dark: #4D4D4D;
        --basic-grey-special: #444444;
        --basic-white: #FFFFFF;
        --basic-white-dark: rgba(255, 255, 255, 0.7);
        --basic-black-light: rgba(0, 0, 0, 0.3);
        --basic-hover-grey: #DFDFDF;
        --basic-focus-grey: #D5D5D5;
        --basic-grey-card: #666666;
        --basic-grey-pagination: #DBDBDB;
        --basic-grey-slider: #C1C1C1;
        --basic-grey-range: #ABABAB;
        --basic-grey-shadow: rgba(0, 1, 1, 0.1);
        --basic-drop-shadow: rgba(0, 0, 0, 0.25);
        --basic-form-hover: #B4B9BB;
    }

    .page-body {
        min-width: 1160px;
        margin: 0;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: var(--basic-extra-black);
        background-color: var(--basic-white);
        min-height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        align-content: start;
      }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .wrapper {
        width: 1160px;
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }

    .main-header {
        background-color: var(--basic-grey-extra);
    }

    .main-navigation {
        width: 1160px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 160px 1fr min-content;
        margin-top: 48px;
        justify-self: space-between;
    }

    .main-header-logo {
        width: 160px;
    }

    .main-header-logo:hover {
        opacity: 0.7;
    }

    .main-header-logo:focus {
        opacity: 0.3;
    }

    .main-header-logo:active {
      opacity: 0.3;
    }

    .main-navigation-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 27px;
        margin-left: 202px;
    }

    .main-navigation-item {
        margin-right: 46px;
    }

    .user-navigation-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 27px;
    }

    .main-navigation-link,
    .user-navigation-link {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--basic-black);
    }

    .main-navigation-link:hover,
    .user-navigation-link:hover {
        color: var(--basic-red);
    }

    .main-navigation-link:focus,
    .user-navigation-link:focus,
    .main-navigation-link:active,
    .user-navigation-link:active {
        color: var(--basic-black);
        opacity: 0.3;
    }

    .user-navigation-link {
        position: relative;
    }

    .user-navigation-link::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        background-image: url("../img/cart-icon.svg");
        top: 2px;
        left: -40px;
    }

    .current-link {
        padding-bottom: 18px;
        color: var(--basic-black);
        border-bottom: 2px solid var(--basic-red);
    }

    .slider {
        background-color: var(--basic-grey-extra);
        margin-bottom: 80px;
    }

    .slider-inner {
        width: 1160px;
        padding: 0;
        margin: 0 auto;
        position: relative;
    }

    .slider-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .slider-item {
        display: none;
        padding-top: 71px;
        padding-bottom: 80px;
        box-sizing: border-box
    }

    .slide-current {
        display: flex;
        flex-direction: column;
    }

    .slider-item-1 {
        background-image: url("../img/slide01.png");
        background-repeat: no-repeat;
        background-position: 99% -7px;
    }

    .slider-item-2 {
        background-image: url("../img/slide02.png");
        background-repeat: no-repeat;
        background-position: top right;
    }

    .slider-item-3 {
        background-image: url("../img/slide03.png");
        background-repeat: no-repeat;
        background-position: top right;
    }

    .slider-text {
        max-width: 500px;
        margin-top: 27px;
        margin-bottom: 38px;
    }

    .slider-heading {
        max-width: 500px;
        font-size: 55px;
        line-height: 55px;
        font-weight: 500;
        color: var(--basic-black);
        margin: 0;
        padding: 0;
    }

    .slider-controls {
        position: absolute;
        bottom: 95px;
        left: 536px;
        z-index: 20;
        display: flex;
        width: 88px;
        justify-content: space-between;
    }

    .slider-nav {
        padding: 0;
        width: 18px;
        height: 18px;
        background-color: var(--basic-white);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: none;
    }

    .slider-nav:active,
    .slider-nav:focus {
      padding: 0;
      width: 18px;
      height: 18px;
      background-color: var(--basic-white);
      border-radius: 50%;
      cursor: pointer;
      border: none;
      outline: none;
      box-shadow: inset 0 0 0 1px var(--basic-black)
    }

    .slider-nav-current {
        position: relative;
    }

    .slider-nav-current::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid var(--basic-grey-slider);
        position: absolute;
        top: 5px;
        left: 5px;
        box-sizing: border-box;
    }

    .button {
        font-family: inherit;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: var(--basic-white);
        background-color: var(--basic-red);
        display: block;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
        outline: none;
        box-shadow: none;
        cursor: pointer;
    }

    .button:hover {
        background-color: var(--basic-red-extra);
    }

    .button:focus,
    .button:active {
        background-color: var(--basic-red-dark);
        color: var(--basic-white-dark);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .slider-btn {
        width: 240px;
        height: 50px;
        padding-left: 54px;
        padding-right: 54px;
        padding-top: 17px;
        padding-bottom: 15px;
    }

    .services-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
    }

    .services-item h3 {
        display: block;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--basic-black);
        padding: 0;
        margin: 0;
        margin-top: 17px;
    }

    .services-item p {
        padding: 0;
        margin: 0;
        margin-top: 18px;
        margin-bottom: 32px;
      }

    .services-btn {
        width: 160px;
        height:50px;
        padding-left: 39px;
        padding-right: 40px;
        padding-top: 17px;
        padding-bottom: 15px;
        margin-bottom: 80px;
    }

    .button-green {
        background-color: var(--basic-green);
    }

    .button-green:hover {
        background-color: var(--basic-green-extra);
    }

    .button-green:focus,
    .button-green:active {
        background-color: var(--basic-green-dark);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .button-yellow {
        background-color: var(--basic-yellow);
    }

    .button-yellow:hover {
        background-color: var(--basic-yellow-extra);
    }

    .button-yellow:focus,
    .button-yellow:active {
        background-color: var(--basic-yellow-dark);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .button-grey {
        background-color: var(--basic-grey-extra);
        color: var(--basic-black);
    }

    .button-grey:hover {
        background-color: var(--basic-hover-grey);
        color: var(--basic-black);
    }

    .button-grey:focus,
    .button-grey:active {
        background-color: var(--basic-focus-grey);
        color: var(--basic-black);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .index-inner {
        width: 1160px;
        padding: 0;
        margin: 0;
        padding-top: 40px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 360px;
        column-gap: 40px;
        margin-bottom: 73px;
        position: relative;
    }

    .index-inner::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--basic-grey-extra);
        position: absolute;
        top: 0;
    }

    .services-description {
        width: 660px;
    }

    .services-description-heading {
        font-size: 45px;
        line-height: 45px;
        font-weight: 500;
        color: var(--basic-black);
        padding: 0;
        margin: 0;
        margin-top: 36px;
    }

    .services-description-text {
        padding: 0;
        margin: 0;
        margin-top: 32px;
        margin-bottom: 42px;
    }

    .services-description-caption {
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }

    .services-description-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 23px;
    }

    .services-description-item {
        margin-top: 24px;
        padding-left: 36px;
        position: relative;
    }

    .services-description-item:nth-child(1) {
        margin-top: 0;
    }

    .services-description-item::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: var(--basic-red);
        top: 10px;
        left: 0;
    }

    .statistic-logo {
        width: 360px;
        height: 208px;
        margin-bottom: 31px;
    }

    .statistic-data-description {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--basic-black);
        margin-bottom: 28px;
        position: relative;
        left: 1px;
    }

    .statistic-data-cell {
        font-size: 45px;
        line-height: 64px;
        font-weight: 700;
        color: var(--basic-black);
        padding: 0;
        margin: 0;
        position: relative;
    }

    .statistic-data-cell:nth-child(1) {
        left: -1px;
    }

    .statistic-data-cell:nth-child(2) {
        left: 9px;
    }

    .statistic-data-cell:nth-child(3) {
        left: 12px;
    }

    .statistic-data-cell span {
        font-size: 26px;
        line-height: 40px;
        position: absolute;
        top: 5px;
    }

    .statistic-data-txt {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: var(--basic-extra-black);
        padding-top: 10px;
    }

    .clients {
        margin-bottom: 76px;
        position: relative;
    }

    .clients::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--basic-grey-extra);
        position: absolute;
        top: -1px;
    }

    .clients::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--basic-grey-extra);
        position: absolute;
        bottom: 5px;
    }

    .clients-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }

    .clients-item {
        display: flex;
        width: 300px;
        position: relative;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .clients-item:not(:nth-child(4n))::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 52px;
        background-color: var(--basic-grey-extra);
        top: 64px;
        right: 19px;
    }

    .clients-item:nth-child(4n),
    .clients-link {
        width: 260px;
    }

    .clients-link {
        display: flex;
        justify-content: center;
        opacity: 0.2;
    }

    .clients-link:hover {
        opacity: 1;
    }

    .clients-link:focus,
    .clients-link:active {
        opacity: 0.1;
    }

    .contacts {
        width: 100%;
        height: 416px;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        background-image: url("../img/map.png");
        background-size: cover;
        background-position: top center;
    }

    .contacts-wrapper {
        width: 1160px;
        padding: 0;
        margin: 0;
        margin: 0 auto;
        position: relative;
    }

    .contacts iframe {
        width: 100%;
        height: 416px;
        position: absolute;
        z-index: 1;
    }

    .contacts-description {
        width: 319px;
        box-sizing: border-box;
        background-color: var(--basic-white);
        padding-top: 49px;
        padding-bottom: 47px;
        padding-right: 50px;
        padding-left: 50px;
        position: absolute;
        z-index: 2;
        top: 54px;
        left: 0;
    }

    .contacts-description h3 {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        color: var(--basic-black);
        text-transform: uppercase;
    }

    .contacts-description p {
        font-size: 16px;
        line-height: 18px;
        margin-top: 23px;
    }

    .contacts-phone {
        color: var(--basic-extra-black);
        margin-top: 24px;
    }

    .contacts-btn {
        width: 219px;
        margin-top: 34px;
        padding-top: 17px;
        padding-bottom: 15px;
        padding-right: 44px;
        padding-left: 44px;
    }

    .social {
        width: 1160px;
        margin: 68px auto;
        padding: 0;
    }

    .social-inner {
        display: grid;
        grid-template-columns: 360px 1fr;
        column-gap: 40px;
    }

    .social-list {
        width: 270px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .social-button {
        width: 80px;
        height: 80px;
        color: var(--basic-white);
        background-color: var(--basic-grey);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .social-button:hover {
        background-color: var(--basic-red-extra);
    }

    .social-button:focus,
    .social-button:active {
        background-color: var(--basic-red-dark);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .social-text {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
        color: var(--basic-black);
        padding: 0;
        margin: 0;
        margin-top: 8px;
    }

    .social-text span {
        display: block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: var(--basic-grey-special);
        margin-top: 10px;
    }

    .shop-heading {
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        color: var(--basic-black);
        width: 1160px;
        padding: 0;
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 110px;
        text-align: center;
    }

    .inner-page {
        width: 1160px;
        padding: 0;
        margin: 0 auto;
        margin-top: 56px;
        display: grid;
        grid-template-columns: 260px 1fr;
        column-gap: 40px;
    }

    .filter {
        width: 260px;
    }

    .range {
        margin: 0;
        padding: 0;
        border: none;
        margin-bottom: 51px;
    }

    .range-filter {
        width: 260px;
        margin-top: 45px;
    }

    .range-controls {
        position: relative;
        height: 80px;
        margin-bottom: 12px;
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: var(--basic-grey-extra);
        border-radius: 3px;
        box-sizing:border-box;
    }

    .range-controls .scale {
        height: 2px;
        background: var(--basic-grey-form);
    }

    .range-controls .bar {
        width: 70%;
        height: 2px;
        background: var(--basic-green);
    }

    .range-controls .toggle {
        position: absolute;
        top: 30px;
        left: 0;
        width: 4px;
        height: 4px;
        padding: 0;
        border: 8px solid var(--basic-white);
        background-color: var(--basic-grey-range);
        border-radius: 50%;
        box-shadow: 0px 2px 1px var(--basic-black-rangebasic-black-range);
        cursor: pointer;
    }

    .range-controls .toggle:active {
      background-color: var(--basic-grey-range);
      cursor: pointer;
    }

    .range-controls .toggle-min {
        left: 18px;
    }

    .range-controls .toggle-max {
        left: 160px;
    }

    .price-controls {
        display: flex;
        justify-content: space-between;
    }

    .price-controls label {
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    }

    .price-controls input {
        font-family: inherit;
        font-size: 16px;
        line-height: 22px;
        width: 60px;
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 9px;
        padding-right: 10px;
        margin-left: 10px;
        text-align: center;
        color: var(--basic-extra-black);
        border: none;
        border-radius: 3px;
        background: var(--basic-grey-extra);
    }

    .mesh {
        margin: 0;
        padding: 0;
        border: none;
        margin-bottom: 34px;
    }

    .features {
        margin: 0;
        padding: 0;
        border: none;
        margin-bottom: 37px;
    }

    .mesh-list,
    .features-list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 36px;
    }

    .mesh-item,
    .features-item {
        margin-bottom: 15px;
    }

    .mesh-title {
        margin-bottom: 13px;
    }

    .mesh-item label {
        position: relative;
        display: block;
        cursor: pointer;
        user-select: none;
        padding-top: 3px;
        color: var(--basic-extra-black);
    }

    .mesh-input-radio + label::before {
        content: "";
        position: absolute;
        left: -36px;
        top: 0;
        width: 25px;
        height: 25px;
        border: 4px solid var(--basic-grey-dark);
        box-sizing: border-box;
        border-radius: 50%;
        opacity: 0.4;
    }

    .mesh-input-radio:checked + label::after {
        content: "";
        position: absolute;
        top: 8px;
        left: -28px;
        width: 9px;
        height: 9px;
        background-color: var(--basic-grey-dark);
        border-radius: 50%;
        opacity: 0.4;
    }

    .features-title {
        margin-bottom: 12px;
    }

    .features-item label {
        position: relative;
        display: block;
        cursor: pointer;
        user-select: none;
        padding-top: 4px;
        color: var(--basic-extra-black);
    }

    .features-input-checkbox + label::before {
        content: "";
        position: absolute;
        left: -36px;
        top: 4px;
        width: 23px;
        height: 23px;
        background-image: url("../img/checkbox.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        opacity: 0.4;
    }

    .features-input-checkbox:checked + label::before {
        content: "";
        position: absolute;
        left: -36px;
        top: 4px;
        width: 23px;
        height: 23px;
        background-image: url("../img/checkbox-checked.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        opacity: 0.4;
    }

    .features-input-checkbox:checked + label::after {
        content: "";
        position: absolute;
        top: 2px;
        left: -32px;
        width: 21px;
        height: 17px;
        background-image: url("../img/check.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        opacity: 0.4;
    }

    .filter-input:disabled + label {
        opacity: 0.3;
        pointer-events: none;
    }

    .filter-input:disabled + label::before,
    .filter-input:disabled + label::after {
        opacity: 0.1;
        pointer-events: none;
    }

    .filter-input:hover + label,
    .filter-input:focus + label,
    .filter-input:active + label {
        opacity: 1.0;
    }

    .filter-input:hover + label::before,
    .filter-input:hover + label::after,
    .filter-input:focus + label::before,
    .filter-input:focus + label::after,
    .filter-input:active + label::before,
    .filter-input:active + label::after {
        opacity: 1.0;
    }


    .filter-btn {
        padding-top: 17px;
        padding-bottom: 15px;
        padding-left: 88px;
        padding-right: 89px;
        border-radius: 3px;
        cursor: pointer;
    }

    .filter h2,
    .sort h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: var(--basic-black);
        text-transform: uppercase;
    }

    .sort-heading {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        color: var(--basic-black);
        text-transform: uppercase;
    }

    .sort {
        display: flex;
        justify-content: space-between;
    }

    .sort-wrapper {
        display: flex;
    }

    .sort-group {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sort-group-category {
        display: flex;
        flex-wrap: wrap;
    }

    .sort-item {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .sort-group-category .sort-item:not(:first-child) {
        margin-left: 26px;
    }

    .sort-group-category .sort-item:nth-child(4n) {
        margin-left: 0;
    }

    .sort-btn {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--basic-black-light);
        padding: 0;
        margin: 0;
    }

    .sort-btn:hover {
        color: var(--basic-grey-light);
        cursor: pointer;
    }

    .sort-btn:focus {
        color: var(--basic-black);
        cursor: pointer;
    }

    .sort-btn:active {
      color: var(--basic-black);
    }

    .sort-btn-active {
        color: var(--basic-black);
    }

    .sort-icon {
        margin: 0;
        padding: 0;
    }

    .sort-less {
        margin-left: 20px;
    }

    .sort-icon path {
        fill: var(--basic-black-light);
    }

    .sort-icon:hover path {
        fill: var(--basic-grey-light);
        cursor: pointer;
    }

    .sort-icon:focus path {
        fill: var(--basic-black);
        cursor: pointer;
    }

    .sort-icon:active path {
      fill: var(--basic-black);
      cursor: pointer;
    }

    .sort-icon-active path {
        fill: var(--basic-black);
    }

    .catalogue-list,
    .pagination-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sort-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 4px;
        width: 360px;
        justify-content: space-between;
    }

    .range-title,
    .mesh-title,
    .features-title {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--basic-black);
    }

    .mesh-item,
    .features-item {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    .catalogue {
        margin-top: 47px;
    }

    .shop-catalogue {
        width: 760px;
        justify-self: end;
    }

    .catalogue-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .catalogue-item {
        width: 360px;
        margin-bottom:  23px;
    }

    .catalogue-item path {
        fill: var(--basic-grey-dark);
        opacity: 0.12;
    }

    .catalogue-link:hover path {
        fill: var(--basic-grey-dark);
        opacity: 1.0;
    }

    .catalogue-link:active path {
      fill: var(--basic-grey-dark);
      opacity: 1.0;
  }

    .catalogue-item {
        position: relative;
    }

    .catalogue-item .catalogue-modal {
        display: none;
    }

    .catalogue-link {
        color: var(--basic-extra-black);
    }

    .catalogue-link:hover .catalogue-modal {
        display: flex;
    }

    .catalogue-link:active .catalogue-modal {
      display: flex;
    }

    .catalogue-img {
        width: 358px;
        height: 578;
        object-fit:contain;
        margin-top: -6px;
        background-color: var(--basic-white);
    }

    .catalogue-modal {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        min-height: 231px;
        bottom: 6px;
        background-color: var(--basic-grey-extra);
        padding: 26px 60px 44px 60px;
        box-sizing: border-box;
    }

    .catalogue-modal:hover {
        filter: drop-shadow(0px 6px 15px var(--basic-drop-shadow));
    }

    .catalogue-modal:focus {
      filter: drop-shadow(0px 6px 15px var(--basic-drop-shadow));
    }

  .catalogue-modal:active {
    filter: drop-shadow(0px 6px 15px var(--basic-drop-shadow));
    }

    .catalogue-modal h3 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        color: var(--basic-black);
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }

    .catalogue-modal h3:hover {
        color: var(--basic-red);
    }

    .catalogue-modal h3:active {
        color: var(--basic-black-light);
    }

    .catalogue-modal-text {
        max-height: 385px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: var(--basic-grey-card);
        text-align: center;
        padding: 0;
        margin: 12px 0 32px 0;
        overflow: hidden;
    }

    .catalogue-modal-btn {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: var(--basic-white);
        background-color: var(--basic-red);
        padding: 17px 74px 15px 74px;
        margin: 0;
        border-radius: 3px;
    }

    .catalogue-modal-btn:hover {
        background-color: var(--basic-red-extra);
    }

    .catalogue-modal-btn:active {
        background-color: var(--basic-red-dark);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .pagination-list {
        margin-top: 26px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .pagination-item {
        margin-right: 12px;
        margin-bottom: 10px;
    }

    .pagination-item-next {
        margin-right: 0;
    }

    .pagination-link {
        background-color: var(--basic-grey-extra);
        color: var(--basic-black);
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        display: block;
        padding-top: 17px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        border-radius: 3%;
        cursor: pointer;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    .pagination-next {
        padding-top: 17px;
        padding-left: 78px;
        padding-bottom: 15px;
        padding-right: 77px;
        border-radius: 3%;
        cursor: pointer;
        text-transform: uppercase;
    }

    .pagination-link-active {
        background-color: var(--basic-white);
        box-shadow:
            inset 3px 3px 0px var(--basic-grey-pagination),
            inset -3px -3px 0px var(--basic-grey-pagination);
    }

    .pagination-link:hover {
        background-color: var(--basic-hover-grey);
        color: var(--basic-black);
    }

    .pagination-link:focus {
        background-color: var(--basic-focus-grey);
        color: var(--basic-black-light);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .pagination-link:active {
        background-color: var(--basic-focus-grey);
        color: var(--basic-black-light);
        box-shadow: inset 0px 3px 0px var(--basic-grey-shadow);
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 43px;
        left: 0;
        margin: auto;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
        z-index: 3;
    }

    .modal-form {
        width: 960px;
        height: 590px;
        background-color: var(--basic-white);
        padding: 74px 100px 88px 100px;
        box-sizing: border-box;
    }

    .modal-form h2 {
        font-family: inherit;
        font-size: 45px;
        line-height: 53px;
        font-weight: 700;
        padding: 0;
        margin: 0;
        margin-bottom: 36px;
    }

    .modal-form label {
        font-family: inherit;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
    }

    .modal-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .modal-inner {
        display: flex;
        flex-direction: column;
    }

    .modal-inner label{
        margin-bottom: 5px;
    }

    .form-icon-name,
    .form-icon-email {
        width: 324px;
        height: 16px;
    }

    .form-icon-name,
    .form-icon-email,
    .form-icon-message {
        padding: 16px 14px 16px 16px;
        border: 2px solid var(--basic-grey-form);
        border-radius: 3px;
    }

    .form-icon-name::placeholder,
    .form-icon-email::placeholder,
    .form-icon-message::placeholder {
        color: var(--basic-grey-special);
        opacity: 0.5;
    }

    .form-icon-name::-moz-placeholder,
    .form-icon-email::-moz-placeholder,
    .form-icon-message::-moz-placeholder {
        color: var(--basic-grey-special);
        opacity: 0.5;
    }

    .form-icon-name::-webkit-input-placeholder,
    .form-icon-email::-webkit-input-placeholder,
    .form-icon-message::-webkit-input-placeholder {
        color: var(--basic-grey-special);
        opacity: 0.5;
    }

    .form-icon-name:focus::placeholder,
    .form-icon-email:focus::placeholder,
    .form-icon-message:focus::placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .form-icon-name:focus::-moz-placeholder,
    .form-icon-email:focus::-moz-placeholder,
    .form-icon-message:focus::-moz-placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .form-icon-name:focus::-webkit-input-placeholder,
    .form-icon-email:focus::-webkit-input-placeholder,
    .form-icon-message:focus::-webkit-input-placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .form-icon-name:active::placeholder,
    .form-icon-email:active::placeholder,
    .form-icon-message:active::placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .form-icon-name:active::-moz-placeholder,
    .form-icon-email:active::-moz-placeholder,
    .form-icon-message:active::-moz-placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .form-icon-name:active::-webkit-input-placeholder,
    .form-icon-email:active::-webkit-input-placeholder,
    .form-icon-message:active::-webkit-input-placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .form-icon-name:hover,
    .form-icon-email:hover,
    .form-icon-message:hover {
        border: 2px solid var(--basic-form-hover);
    }

    .form-icon-message {
        height: 80px;
    }

    .modal-btn {
        padding: 17px 83px 15px 83px;
        margin-top: 43px;
    }

    .modal-show {
        display: block;
        animation: bounce 0.6s;
    }

    .modal-error {
        animation: shake 0.6s;
    }

    .error {
        border: 2px solid var(--basic-red);
        color: var(--basic-red);
    }

    .error:focus {
        border: 2px solid var(--basic-red);
        color: var(--basic-grey-special);
    }

    .error:active {
        border: 2px solid var(--basic-red);
        color: var(--basic-grey-special);
    }

    .error::placeholder {
        color: var(--basic-red);
    }

    .error::-moz-placeholder {
        color: var(--basic-red);
    }

    .error::-webkit-input-placeholder {
      color: var(--basic-red);
    }

    .error:hover::placeholder {
        color: var(--basic-grey-special);
        opacity: 0.5;
    }

    .error:hover::-moz-placeholder  {
        color: var(--basic-grey-special);
        opacity: 0.5;
    }

    .error:hover::-webkit-input-placeholder {
        color: var(--basic-grey-special);
        opacity: 0.5;
    }

    .error:focus::placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .error:focus::-moz-placeholder  {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .error:focus::-webkit-input-placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .error:active::placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .error:active::-moz-placeholder  {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .error:active::-webkit-input-placeholder {
        color: var(--basic-grey-special);
        opacity: 1.0;
    }

    .modal-close {
        position: absolute;
        top: 78px;
        right: 89px;
        width: 21px;
        height: 21px;
        background-image: url("../img/close-cross.svg");
        opacity: 0.3;
        cursor: pointer;
    }

    .modal-close:hover {
        opacity: 1.0;
    }

    .modal-close:focus {
        opacity: 0.1;
    }

    .modal-close:active {
        opacity: 0.1;
    }

    /* Animations */

    @keyframes bounce {
        0% {
          transform: translateY(-2000px);
        }

        70% {
          transform: translateY(30px);
        }

        90% {
          transform: translateY(-10px);
        }

        100% {
          transform: translateY(0);
        }
    }

    @keyframes shake {
        0%,
        100% {
          transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
          transform: translateX(-10px);
        }

        20%,
        40%,
        60%,
        80% {
          transform: translateX(10px);
        }
    }

    .price-controls input[type="number"]::-webkit-outer-spin-button,
    .price-controls input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .price-controls input[type="number"] {
        -moz-appearance: textfield;
    }
    .price-controls input[type="number"]:hover,
    .price-controls input[type="number"]:focus {
        -moz-appearance: number-input;
    }

    .price-controls input[type=number]::-webkit-inner-spin-button,
    .price-controls input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
