:root {
    --basic-black: #000000;
    --basic-extra-black: #283136;
    --basic-red: #FB565A;
    --basic-red-extra: #E74246;
    --basic-red-dark: #D7373B;
    --basic-green: #00CA74;
    --basic-green-extra: #00BC6C;
    --basic-green-dark: #00AA62;
    --basic-yellow: #EFC849;
    --basic-yellow-extra: #EAB534;
    --basic-yellow-dark: #E5A722;
    --basic-grey: #E1E1E1;
    --basic-grey-extra: #EEEEEE;
    --basic-grey-light: #A6A6A6;
    --basic-grey-form: #D7DCDF;
    --basic-grey-dark: #4D4D4D;
    --basic-grey-special: #444444;
    --basic-white: #FFFFFF;
    --basic-white-dark: rgba(255, 255, 255, 0.7);
    --basic-black-light: rgba(0, 0, 0, 0.3);
    --basic-hover-grey: #DFDFDF;
    --basic-focus-grey: #D5D5D5;
    --basic-grey-card: #666666;
    --basic-grey-pagination: #DBDBDB;
  }

  .page-body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .zero {
    padding: 0;
    margin: 0;
  }

  .wrapper {
    width: 1160px;
    padding: 0;
    margin: 0;
    margin: 0 auto;
  }

  button {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }

  .main-header {
    background-color: var(--basic-grey-extra);
  }

  .main-navigation {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 1fr min-content;
    margin-top: 50px;
    justify-self: space-between;
  }

  .main-header-logo {
    width: 160px;
  }

  .main-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-self: center;
    display: flex;
    width: 437px;
    justify-content: space-around;
    margin-top: 25px;
  }

  .user-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
  }

  .main-navigation-link,
  .user-navigation-link {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
  }

  .main-navigation-link:hover,
  .user-navigation-link:hover {
    color: var(--basic-red);
  }

  .main-navigation-link:focus,
  .user-navigation-link:focus {
    color: var(--basic-black);
    opacity: 0.3;
  }

  .current-link {
    padding-bottom: 12px;
    color: var(--basic-black);
    border-bottom: 2px solid var(--basic-red);
  }

  .slider {
    background-color: var(--basic-grey-extra);
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  .slider-heading {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black);
  }

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 3px;
  }

  .button:hover {
    background-color: var(--basic-red-extra);
  }

  .button:focus {
    background-color: var(--basic-red-dark);
    color: var(--basic-white-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .services-list {
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  .services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
    margin-top: 25px;
  }

  .services-item p {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .button-green {
    background-color: var(--basic-green);
  }

  .button-green:hover {
    background-color: var(--basic-green-extra);
  }

  .button-green:focus {
    background-color: var(--basic-green-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .button-yellow {
    background-color: var(--basic-yellow);
  }

  .button-yellow:hover {
    background-color: var(--basic-yellow-extra);
  }

  .button-yellow:focus {
    background-color: var(--basic-yellow-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .button-grey {
    background-color: var(--basic-grey-extra);
    color: var(--basic-black);    
  }

  .button-grey:hover {
    background-color: var(--basic-hover-grey);
    color: var(--basic-black);    
  }

  .button-grey:focus {
    background-color: var(--basic-focus-grey);
    color: var(--basic-black);   
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .index-inner {
    width: 1160px;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 360px;
    column-gap: 40px;
    margin-bottom: 73px;
  }

  .services-description {
    width: 660px;
  }

  .services-description-heading {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }

  .services-description-text {
    padding: 0;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .services-description-caption {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .services-description-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 23px;
  }

  .services-description-item {
    margin-top: 37px;
  }

  .services-description-item:nth-child(1) {
    margin-top: 0;
  }

  .statistic-logo {
    width: 360px;
    height: 208px;
    margin-bottom: 37px;
  }

  .statistic-data-description {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 31px;
  }

  .statistic-data-cell {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
  }

 .statistic-data-cell span {
    font-size: 26px;
    line-height: 40px;
  }

  .statistic-data-txt {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-extra-black);
  }

  .clients {
    margin-bottom: 80px;
  }

  .clients-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  .contacts-description {
    margin: 54px 0;
  }

  .contacts-description h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform:uppercase;
  }

  .contacts-description p {
    font-size: 16px;
    line-height: 18px;
  }

  .contacts-phone {
    color: var(--basic-extra-black);
  }

  .social {
    width: 1160px;
    margin: 68px auto;
    padding: 0;
  }

  .social-inner {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 40px;
  }

  .social-list {
    width: 360px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .social-item {
    width: 81px;
    height: 81px;
    border-radius: 50%;
  }

  .social-button {
    color: var(--basic-white);
    background-color: var(--basic-grey);
  }

  .social-button:hover {
    background-color: var(--basic-red-extra);
  }

  .social-button:focus {
    background-color: var(--basic-red-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .social-text {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
  }

  .social-text span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-grey-special);
  }

  .shop-heading {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: var(--basic-black);
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    margin-top: 105px;
    margin-bottom: 118px;
    text-align: center;
  }

  .inner-page {
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    margin-top: 56px;
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 40px;
  }

  .cost,
  .mesh,
  .features {
    margin-bottom: 50px;
  }

  .filter h2,
  .sort h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .sort-heading {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .sort {
    display: flex;
    justify-content: space-between;
  }

  .sort-wrapper {
    display: flex;
  }

  .sort-item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .range-btn  {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black-light);   
  }

  .range-btn:hover {
    color: var(--basic-grey-light);   
  }

  .range-btn:focus {
    color: var(--basic-black);
  }

  .range-btn-active {
    color: var(--basic-black);   
  }

  .cost-list,
  .mesh-list,
  .features-list,
  .sort-list,
  .catalogue-list,
  .pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cost-title,
  .mesh-title,
  .features-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
  }

  .cost-item {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .mesh-item,
  .features-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .shop-catalogue {
    width: 760px;
    justify-self: end;
  }

  .catalogue-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalogue-link {
    color: var(--basic-extra-black);
  }

  .catalogue-item {
    width: 360px;
  }

  .catalogue-modal {
    background-color: var(--basic-grey-extra);
  }

  .catalogue-modal h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .catalogue-modal h3:hover {
    color: var(--basic-red);
  }

  .catalogue-modal h3:active {
    color: var(--basic-black-light);
  }

  .catalogue-modal-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-grey-card);
  }

  .catalogue-modal-btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--basic-white);
    background-color: var(--basic-red);
  }

  .catalogue-modal-btn:hover {
    background-color: var(--basic-red-extra);
  }

  .catalogue-modal-btn:active {
    background-color: var(--basic-red-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .pagination-list {
    margin-top: 55px;
    margin-bottom: 60px;
    display: flex;
  }

  .pagination-item {
    margin-left: 11px;
  }
  
  .pagination-item:nth-child(1) {
    margin-left: 0;
  }

  .pagination-link {
    background-color: var(--basic-grey-extra);
    color: var(--basic-black);    
  }

  .pagination-link:hover {
    background-color: var(--basic-hover-grey);
    color: var(--basic-black);    
  }

  .pagination-link a:focus {
    background-color: var(--basic-focus-grey);
    color: var(--basic-black);   
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .pagination-link-active {
    background-color: var(--basic-white);
    border: 3px solid var(--basic-grey-pagination);
    box-sizing: border-box;
  }
  








